<div class="account container">
	<div class="row">
		<div class="account-nav col-3">
			<div class="nav-side">
				<h4>TRANG TÀI KHOẢN</h4>
				<p>Xin chào, Khiêm</p>
				<ul class="list-unstyled">
					<li>
						<a routerLink="/account" class="title-info active"> Thông tin tài khoản! </a>
					</li>
					<li>
						<a routerLink="/account/orders" class="title-info"> Đơn hàng của bạn </a>
					</li>
					<li>
						<a routerLink="/account/changepassword" class="title-info"> Đổi mật khẩu </a>
					</li>
					<li>
						<a routerLink="/account/address" class="title-info"> Số địa chỉ (0) </a>
					</li>
					<li>
						<div class="btn btn-danger title-info mt-1">Đăng xuất</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="account-content col-9">
			<h4>THÔNG TIN TÀI KHOẢN</h4>
			<p>Họ tên: Nguyễn Trung Khiêm</p>
			<p>Email: trungkhiem1412@gmail.com</p>
		</div>
	</div>
</div>
