<div class="container-fluid footer d-flex flex-column justify-content-center mt-4">
	<div class="container-lg d-flex flex-wrap gap-3 gap-md-0">
		<div class="col-12 col-md-6 col-lg-3">
			<h4 class="title-footer mb-2">Liên hệ với Ant Home</h4>
			<div class="footer-body">
				<div class="mb-2"><strong>Địa chỉ:</strong> 70 Lu Gia, Ward 15, District 11, Ho Chi Minh City</div>
				<div class="mb-2"><strong>Điện thoại:</strong> 1900 6750</div>
				<div class="mb-2"><strong>Email:</strong> suppor@anthome.vn</div>
				<div class="d-flex">
					<img class="col-6 col-sm-4 col-md-6 col-lg-10 img-fluid" src="assets/images/logo3.png" alt="" />
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<h4 class="title-footer">Về chúng tôi</h4>
			<div class="list-items-link">
				<ul>
					<li class="items-link mb-2">
						<a routerLink="/">Giới thiệu</a>
					</li>
					<li class="items-link mb-2">
						<a routerLink="/">Chính sách bảo mật về thanh toán</a>
					</li>
					<li class="items-link mb-2">
						<a routerLink="/">Bảo mật thông tin cá nhân</a>
					</li>
					<li class="items-link mb-2">
						<a routerLink="/">Quy chế hoạt động</a>
					</li>
					<li class="items-link mb-2">
						<a routerLink="/">Bán hàng cùng Ant Home</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-12 col-md-6 col-lg-3 mt-md-2 mt-lg-0">
			<h4 class="title-footer">Hỗ trợ khách hàng</h4>
			<div class="list-items-link">
				<ul>
					<li class="items-link mb-2">
						<a routerLink="/">Hướng dẫn đặt hàng</a>
					</li>
					<li class="items-link mb-2">
						<a routerLink="/">Quy chế giao hàng & thanh toán</a>
					</li>
					<li class="items-link mb-2">
						<a routerLink="/">Quy trình đổi trả & bảo hành</a>
					</li>
					<li class="items-link mb-2">
						<a routerLink="/">Chính sách giải quyết khiếu nại</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-12 col-md-6 col-lg-3 mt-md-2 mt-lg-0">
			<div>
				<h4 class="title-footer">Kết nối với chúng tôi</h4>
				<div class="icon-contact d-flex">
					<a class="col-1 col-md-2" routerLink="/">
						<i class="fa-brands fa-facebook-f"></i>
					</a>
					<a class="col-1 col-md-2" routerLink="/">
						<i class="fa-brands fa-twitter"></i>
					</a>
					<a class="col-1 col-md-2" routerLink="/">
						<i class="fa-brands fa-youtube"></i>
					</a>
					<a class="col-1 col-md-2" routerLink="/">
						<i class="fa-brands fa-instagram"></i>
					</a>
				</div>
			</div>
			<div class="mt-2">
				<h4 class="title-footer">Phương thức thanh toán</h4>
				<div class="payment-block d-flex flex-wrap col-md-8 col-lg-9">
					<img class="me-2 mb-2" src="assets/images/payment_1.svg" alt="" />
					<img class="me-2 mb-2" src="assets/images/payment_2.svg" alt="" />
					<img class="me-2 mb-2" src="assets/images/payment_3.svg" alt="" />
					<img class="me-2 mb-2" src="assets/images/payment_4.svg" alt="" />
					<img class="me-2 mb-2" src="assets/images/payment_5.svg" alt="" />
					<img class="me-2 mb-2" src="assets/images/payment_6.svg" alt="" />
				</div>
			</div>
		</div>
	</div>
	<div class="copyright container-fluid px-0 mt-lg-5">
		<div class="p-1">
			<div class="text-center">
				<span> © Bản quyền thuộc về <b>ăn rồi báo</b> | Cung cấp bởi không ngại va chạm </span>
			</div>
		</div>
	</div>
</div>
