<div class="account container">
	<div class="row">
		<div class="account-nav col-3">
			<div class="nav-side">
				<h4>TRANG TÀI KHOẢN</h4>
				<p>Xin chào,...</p>
				<!-- {/* Truyền dữ liệu từ db*/} -->
				<ul class="list-unstyled">
					<li>
						<a routerLink="/account" class="title-info"> Thông tin tài khoản! </a>
					</li>
					<li>
						<a href="" class="title-info"> Đơn hàng của bạn </a>
					</li>
					<li>
						<a href="" class="title-info active"> Đổi mật khẩu </a>
					</li>
					<li>
						<a href="" class="title-info"> Số địa chỉ (0) </a>
					</li>
					<li>
						<a href="" class="title-info"> Đăng xuất </a>
					</li>
				</ul>
			</div>
		</div>
		<div class="account-content col-9"></div>
	</div>
</div>
